-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "public"."clientes" (
    "id" SERIAL NOT NULL,
    "nombre" VARCHAR(128) NOT NULL,
    "apellidos" VARCHAR(128) NOT NULL,
    "correo" VARCHAR(128) NOT NULL,
    "pass" VARCHAR(255) NOT NULL,
    "telefono" VARCHAR(15),
    "direccion" TEXT,
    "eliminado" INTEGER DEFAULT 0,

    CONSTRAINT "pk_clientes" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."empleados" (
    "id" SERIAL NOT NULL,
    "nombre" VARCHAR(128),
    "apellidos" VARCHAR(128),
    "correo" VARCHAR(128),
    "pass" VARCHAR(32),
    "rol" INTEGER,
    "archivo_nombre" VARCHAR(255),
    "archivo_file" VARCHAR(128),
    "eliminado" INTEGER DEFAULT 0,

    CONSTRAINT "pk_empleados" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."pedidos" (
    "id" SERIAL NOT NULL,
    "fecha" DATE NOT NULL,
    "id_cliente" INTEGER NOT NULL,
    "status" INTEGER DEFAULT 0,

    CONSTRAINT "pk_pedidos" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."pedidos_productos" (
    "id" SERIAL NOT NULL,
    "id_pedido" INTEGER NOT NULL,
    "id_producto" INTEGER NOT NULL,
    "cantidad" INTEGER NOT NULL,
    "precio" DOUBLE PRECISION NOT NULL,

    CONSTRAINT "pk_pedidos_productos" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."productos" (
    "id" SERIAL NOT NULL,
    "nombre" VARCHAR(128),
    "codigo" VARCHAR(32),
    "descripcion" TEXT,
    "costo" DOUBLE PRECISION,
    "stock" INTEGER,
    "archivo_n" VARCHAR(255),
    "archivo" VARCHAR(128),
    "eliminado" SMALLINT DEFAULT 0,

    CONSTRAINT "pk_productos" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."promociones" (
    "id" SERIAL NOT NULL,
    "nombre" VARCHAR(128) NOT NULL,
    "archivo" VARCHAR(64),
    "status" INTEGER DEFAULT 1,
    "eliminado" INTEGER DEFAULT 0,

    CONSTRAINT "pk_promociones" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "idx_correo" ON "public"."clientes"("correo");

-- CreateIndex
CREATE UNIQUE INDEX "pedidos_id_cliente_status_key" ON "public"."pedidos"("id_cliente", "status");

-- CreateIndex
CREATE INDEX "idx_id_pedido" ON "public"."pedidos_productos"("id_pedido");

-- CreateIndex
CREATE INDEX "idx_id_producto" ON "public"."pedidos_productos"("id_producto");

-- CreateIndex
CREATE UNIQUE INDEX "pedidos_productos_id_pedido_id_producto_key" ON "public"."pedidos_productos"("id_pedido", "id_producto");

-- AddForeignKey
ALTER TABLE "public"."pedidos_productos" ADD CONSTRAINT "pedidos_productos_ibfk_1" FOREIGN KEY ("id_pedido") REFERENCES "public"."pedidos"("id") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "public"."pedidos_productos" ADD CONSTRAINT "pedidos_productos_ibfk_2" FOREIGN KEY ("id_producto") REFERENCES "public"."productos"("id") ON DELETE RESTRICT ON UPDATE RESTRICT;

