-- DropForeignKey
ALTER TABLE "PushSubscription" DROP CONSTRAINT "PushSubscription_userId_fkey";

-- DropIndex
DROP INDEX "pedidos_id_cliente_status_key";

-- AlterTable
ALTER TABLE "categorias" DROP COLUMN "eliminado",
ADD COLUMN     "eliminado" BOOLEAN NOT NULL DEFAULT false;

-- AlterTable
ALTER TABLE "clientes" DROP COLUMN "eliminado",
ADD COLUMN     "eliminado" BOOLEAN NOT NULL DEFAULT false;

-- AlterTable
ALTER TABLE "empleados" DROP COLUMN "archivo_file",
DROP COLUMN "archivo_nombre",
ADD COLUMN     "archivo_url" VARCHAR(512),
ADD COLUMN     "cloudinary_id" VARCHAR(255),
ALTER COLUMN "rol" SET DEFAULT 2,
DROP COLUMN "eliminado",
ADD COLUMN     "eliminado" BOOLEAN NOT NULL DEFAULT false;

-- AlterTable
ALTER TABLE "pedidos" ALTER COLUMN "fecha" SET DEFAULT CURRENT_TIMESTAMP,
ALTER COLUMN "fecha" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "status" SET NOT NULL;

-- AlterTable
ALTER TABLE "productos" ADD COLUMN     "id_editorial" INTEGER,
ALTER COLUMN "stock" SET DEFAULT 0,
ALTER COLUMN "fecha_ingreso" SET NOT NULL,
DROP COLUMN "eliminado",
ADD COLUMN     "eliminado" BOOLEAN NOT NULL DEFAULT false;

-- AlterTable
ALTER TABLE "promociones" ADD COLUMN     "cloudinary_id" VARCHAR(255),
ALTER COLUMN "status" SET NOT NULL,
DROP COLUMN "eliminado",
ADD COLUMN     "eliminado" BOOLEAN NOT NULL DEFAULT false;

-- DropTable
DROP TABLE "PushSubscription";

-- CreateTable
CREATE TABLE "editoriales" (
    "id" SERIAL NOT NULL,
    "nombre" VARCHAR(128) NOT NULL,
    "slug" VARCHAR(128) NOT NULL,
    "eliminado" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "editoriales_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "push_subscriptions" (
    "id" SERIAL NOT NULL,
    "userId" INTEGER NOT NULL,
    "subscription" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "push_subscriptions_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "editoriales_nombre_key" ON "editoriales"("nombre");

-- CreateIndex
CREATE UNIQUE INDEX "editoriales_slug_key" ON "editoriales"("slug");

-- CreateIndex
CREATE INDEX "push_subscriptions_userId_idx" ON "push_subscriptions"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "push_subscriptions_userId_subscription_key" ON "push_subscriptions"("userId", "subscription");

-- CreateIndex
CREATE UNIQUE INDEX "empleados_correo_key" ON "empleados"("correo");

-- CreateIndex
CREATE UNIQUE INDEX "productos_codigo_key" ON "productos"("codigo");

-- CreateIndex
CREATE INDEX "productos_id_categoria_idx" ON "productos"("id_categoria");

-- CreateIndex
CREATE INDEX "productos_id_editorial_idx" ON "productos"("id_editorial");

-- RenameForeignKey
ALTER TABLE "pedidos_productos" RENAME CONSTRAINT "pedidos_productos_ibfk_1" TO "pedidos_productos_id_pedido_fkey";

-- RenameForeignKey
ALTER TABLE "pedidos_productos" RENAME CONSTRAINT "pedidos_productos_ibfk_2" TO "pedidos_productos_id_producto_fkey";

-- AddForeignKey
ALTER TABLE "productos" ADD CONSTRAINT "productos_id_editorial_fkey" FOREIGN KEY ("id_editorial") REFERENCES "editoriales"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "push_subscriptions" ADD CONSTRAINT "push_subscriptions_userId_fkey" FOREIGN KEY ("userId") REFERENCES "clientes"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- RenameIndex
ALTER INDEX "idx_id_pedido" RENAME TO "pedidos_productos_id_pedido_idx";

-- RenameIndex
ALTER INDEX "idx_id_producto" RENAME TO "pedidos_productos_id_producto_idx";

